div{
    --angle:0deg;
    width: 50vmin;
    height: 50vmin;
    border: .8em solid;
    border-image:  linear-gradient(var(--angle), #00cc99, #eef0f5, #6600ff) 1;
    animation: 5s rotate linear ifinite;
} 

@keyframes rotate{
    to{
        --angle:360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value:0deg;
    inherits:false;
}